interactions:
  - request:
      body: '{"query": "\nquery {\n  workspaces {\n    id\n    name\n  }\n}\n", "variables": {}}'
      headers:
        authorization:
          - REDACTED
        content-type:
          - application/json
      method: POST
      uri: https://app.affine.pro/graphql
    response:
      body:
        string: '{"data":{"workspaces":[{"id":"ws-synthetic-default","name":"Default Workspace"}]}}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: '{"query": "\nmutation CreatePage($workspaceId: String!) {\n  createDoc(workspaceId: $workspaceId) {\n    id\n  }\n}\n", "variables": {"workspaceId": "ws-synthetic-default"}}'
      headers:
        authorization:
          - REDACTED
        content-type:
          - application/json
      method: POST
      uri: https://app.affine.pro/graphql
    response:
      body:
        string: '{"data":{"createDoc":{"id":"doc-synth-auto-001"}}}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
