interactions:
- request:
    body: '{"query": "\nquery Issues($filter: IssueFilter) {\n  issues(filter: $filter) {\n    nodes {\n      id\n      title\n      description\n      state { name }\n      assignee { name }\n      priority\n      url\n    }\n  }\n}\n", "variables": {"filter": {"title": {"containsIgnoreCase": "bug"}}}}'
    headers:
      authorization:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://api.linear.app/graphql
  response:
    body:
      string: '{"data":{"issues":{"nodes":[{"id":"issue_synth_001","title":"Sample bug from cassette","description":"Synthetic body","state":{"name":"In Progress"},"assignee":{"name":"Alice Example"},"priority":2,"url":"https://linear.app/synthetic/issue/SYN-1"},{"id":"issue_synth_002","title":"Another bug","description":null,"state":null,"assignee":null,"priority":3,"url":"https://linear.app/synthetic/issue/SYN-2"}]}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
