interactions:
  - request:
      body: '{"query": "engineering", "filter": {"value": "page", "property": "object"}}'
      headers:
        authorization:
          - REDACTED
        content-type:
          - application/json
        notion-version:
          - REDACTED
      method: POST
      uri: https://api.notion.com/v1/search
    response:
      body:
        string: '{"object":"list","results":[{"object":"page","id":"page_kb_001","url":"https://www.notion.so/Engineering-Standards-page_kb_001","properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Engineering Standards"},"plain_text":"Engineering Standards"}]}}},{"object":"page","id":"page_kb_002","url":"https://www.notion.so/Engineering-Onboarding-page_kb_002","properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Engineering Onboarding"},"plain_text":"Engineering Onboarding"}]}}}],"has_more":false,"next_cursor":null}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
