interactions:
- request:
    body: '{"query": "paged", "filter": {"value": "page", "property": "object"}}'
    headers:
      authorization:
      - REDACTED
      content-type:
      - application/json
      notion-version:
      - REDACTED
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    body:
      string: '{"object":"list","results":[{"object":"page","id":"page_kb_010","url":"https://www.notion.so/Paged-Result-One-page_kb_010","properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Paged Result One"},"plain_text":"Paged Result One"}]}}}],"has_more":true,"next_cursor":"cursor_synth_next_page_abc123"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
