interactions:
  - request:
      body: null
      headers:
        authorization:
          - REDACTED
        content-type:
          - application/json
        notion-version:
          - REDACTED
      method: POST
      uri: https://api.notion.com/v1/pages
    response:
      body:
        string: '{"object":"page","id":"page_synth_0001","created_time":"2026-05-16T00:00:00.000Z","last_edited_time":"2026-05-16T00:00:00.000Z","url":"https://www.notion.so/Sample-VCR-report-page_synth_0001","properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Sample VCR report"},"plain_text":"Sample VCR report"}]}}}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
