interactions:
  - request:
      body: '{"query": "\nquery {\n  workspaces {\n    id\n    name\n  }\n}\n", "variables": {}}'
      headers:
        authorization:
          - REDACTED
        content-type:
          - application/json
      method: POST
      uri: https://app.affine.pro/graphql
    response:
      body:
        string: '{"data":{"workspaces":[{"id":"ws-synthetic-1","name":"Synthetic Workspace One"},{"id":"ws-synthetic-2","name":"Synthetic Workspace Two"}]}}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
